/* styles.css */

/* Basic reset */

/* Body styling */

/* Container styling */
.about-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Section styling */
.about-section {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

/* Heading styling */
.about {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  font-size: 2.5em;
}

/* Paragraph styling */
.about {
  margin-bottom: 20px;
  font-size: 1.1em;
}

/* Team section styling */
.team-members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
*/ .team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-member h3 {
  margin-bottom: 5px;
  font-size: 1.5em;
  color: #333;
}

.team-member p {
  font-size: 1em;
  color: #666;
}

/*********************************
Who we are section
*********************************/

.contact {
  width: 100%;
  padding-top: 115px;
  padding-bottom: 115px;
  background: #834d4d;
}
.contact_title {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  color: #181818;
}
.contact_text {
  margin-top: 30px;
}
.contact_list {
  margin-top: 52px;
}
.contact_list ul li:not(:last-child) {
  margin-bottom: 36px;
}
.contact_list ul li > div:first-child {
  width: 104px;
  height: 34px;
  background: #181818;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  line-height: 34px;
  border-radius: 10px;
}
.contact_list ul li > div:last-child {
  font-size: 14px;
  color: #88889d;
  margin-top: 10px;
  padding-left: 25px;
}
.contact_form_container {
  width: 100%;
  margin-top: 55px;
}
.contact_input {
  width: 100%;
  height: 53px;
  background: #f2f5f6;
  border: none;
  outline: none;
  padding-left: 20px;
}
.contact_textarea {
  height: 163px;
  padding-top: 12px;
}
.contact_input::-webkit-input-placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #88889d !important;
}
.contact_input:-moz-placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #88889d !important;
}
.contact_input::-moz-placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #88889d !important;
}
.contact_input:-ms-input-placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #88889d !important;
}
.contact_input::input-placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #88889d !important;
}
.contact_form .input_border {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #181818;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.contact_button {
  width: 161px;
  height: 52px;
  background: #181818;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 35px;
}
