.categories{
    color: aqua;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;

}
.clothes{
    height: 200px;
    width:200px;
    border-radius: 40px;
}
.control{
    display:flex;
    justify-content: space-between;
    background-color: aqua;
    margin-left: 20px;
    margin-right: 20px;
}