.Pdbody {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.product-container {
  margin-bottom: -30px;
}
.Pdcontainer {
  max-width: 70%;
  max-height: 70%;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.Pd-left-column {
  width: 50%;
  position: relative;
  height: fit-content;
}

.Pd-right-column {
  width: 40%;
  margin-top: 60px;
  padding-left: 30px;
}

/* Left Column */
.Pd-left-column .Pd-img {
  width: 100%;
  height: fit-content;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.Pd-left-column img.active {
  opacity: 1;
}

/* Product Description */
.Pd-product-description {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}

.Pd-product-description span {
  font-size: 12px;
  color: #358ed7;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.Pd-product-description h1 {
  font-weight: 300;
  font-size: 36px; /* Adjusted font size */
  color: #43484d;
  letter-spacing: -1px;
}

.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939e;
  line-height: 24px;
}

/* Product Description */
Pd-.Pd-Description {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
  padding: 10px 0;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474d;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #7dc855;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 30px;
  transition: all 0.5s;
}

.cart-btn:hover {
  background-color: #64af3d;
}
