@media (max-width: 940px) {
  .Pdcontainer {
    flex-direction: column;
    margin-top: 60px;
  }

  .Pd-left-column,
  .Pd-right-column {
    width: 100%;
  }

  .Pd-left-column .Pd-img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}

@media (max-width: 535px) {
  .Pd-left-column .Pd-img {
    width: 220px;
    top: -85px;
  }
}
