{% extends "index.html" %}
<!-- hgdfghjk -->
{% load static %}
<!-- dhfgsn -->
{% block title %} About page {% endblock %}
<!-- dhfgsn -->
{% block content %}
<body>
  <!-- <div class="About-container">
    <div class="About-item">
      <img src="statictics.png" alt="Investor Relations">
      <p>Investor Relations</p>
    </div>
    <div class="About-item">
      <img src="{%static 'images/dress.jpg'%}" alt="Leadership and Governance">
      <p>Leadership and Governance</p>
    </div>
    <div class="About-item">
      <img src="{%static 'images/dress.jpg'%}" alt="Newsroom">
      <p>Newsroom</p>
    </div>
    <div class="About-item">
      <img src="{%static 'images/dress.jpg'%}" alt="Working at Wells Fargo">
      <p>Working at Wells Fargo</p>
    </div>
    <div class="About-item">
      <img src="{%static 'images/dress.jpg'%}" alt="Corporate Responsibility">
      <p>Corporate Responsibility</p>
    </div>
    <div class="About-item">
      <img src="{%static 'images/dress.jpg'%}" alt="Responsible Lending">
      <p>Responsible Lending</p>
    </div>
    <div class="About-item">
      <img src="{%static 'images/dress.jpg'%}" alt="Social Media">
      <p>Social Media</p>
    </div>
    <div class="About-item">
      <img src="{%static 'images/Test5.png'%}" alt="Who We Are">
      <p>Who We Are</p>
    </div>
  </div> -->
  <div class="About-container">
    <div class="About-items">
        <img src="{%static 'images/Banner.png'%}" alt="Corporate Responsibility">
        <p>Corporate Responsibility</p>
      </div>
      <div class="About-items">
        <p>Responsible Lending Responsible LendingResponsible LendingResponsible LendingResponsible Lending</p>
        
      </div>
      
  </div>
<section class="About-section1">
  <div class="slide-container swiper">
    <div class="slide-content">
        <div class="card-wrapper swiper-wrapper">
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="images/profile1.jpg" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                    <button class="button">View More</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="{%static 'images/Test4.png'%}" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                    <button class="button">View More</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="{%static 'images/Test4.png'%}" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                    <button class="button">View More</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="{%static 'images/Test4.png'%}" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                    <button class="button">View More</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="{%static 'images/Test4.png'%}" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                    <button class="button">View More</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="{%static 'images/Banner.png'%}" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                    <button class="button">View More</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="{%static 'images/Banner.png'%}" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                    <button class="button">View More</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="{%static 'images/Test4.png'%}" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                    <button class="button">View More</button>
                </div>
            </div>
            <div class="card swiper-slide">
                <div class="image-content">
                    <span class="overlay"></span>

                    <div class="card-image">
                        <img src="{%static 'images/Banner.png'%}" alt="" class="card-img">
                    </div>
                </div>

                <div class="card-content">
                    <h2 class="name">David Dell</h2>
                    <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                    <button class="button">View More</button>
                </div>
            </div>
        </div>
    </div>

    <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div>
    <div class="swiper-pagination"></div>
</div>
</section>
<section class="About-section2">
    <div class="About-container">
        
        <div class="About-item">
          <img src="{%static 'images/Banner.png'%}" alt="Corporate Responsibility">
          <p>Corporate Responsibility</p>
        </div>
        <div class="About-item">
          <img src="{%static 'images/Banner.png'%}" alt="Responsible Lending">
          <p>Responsible Lending</p>
          
        </div>
        <div class="About-item">
          <img src="{%static 'images/Banner.png'%}" alt="Social Media">
          <p>Social Media</p>
        </div>
        <div class="About-item">
          <img src="{%static 'images/Banner.png'%}" alt="Who We Are">
          <p>Who We Are</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Who We Are Section -->
  <section id="who-we-are">
    <div class="">
      <h2>Who We Are</h2>
      <p>
        Luex Trading Enterprise, located in Tema Community 7, was established in
        2021. Since its inception, it has grown steadily, providing high-quality
        clothes and accessories to our valued customers.
      </p>
    </div>
    <!-- Vision  -->
    <div class="">
      <h2>Our Vision</h2>
      <p>
        Our vision is to become the leading online store for fashionable and
        affordable clothing and accessories, ensuring customer satisfaction and
        convenience.
      </p>
    </div>
     <!-- About Our Online Store Section -->
    <div class="container">
    <h2>About Our Online Store</h2>
    <p>
      Our online store offers a wide range of clothing and accessories, with a
      user-friendly interface to enhance your shopping experience. We are
      committed to providing the latest trends and styles at competitive
      prices.
    </p>
  </div>
  </section>

  
  <section id="About-contact" class="About-contact">
       

    <div class="contact">
      <div class="container">
        <div class="row">
  
          <!-- Get in touch -->
          <div class="col-lg-6">
            <div class="contact_content">
              <div class="contact_title">Get in touch with us</div>
              <div class="contact_text">
                <!-- <p>Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.Tempor massa et laoreet. Pellentesque sit amet elementum ccumsan sit amet mattis eget, tristique at leo. Vivamus massa.</p>
              --></div> 
              <div class="contact_list">
                <ul>
                  <li>
                    <div>address:</div>
                    <div>Tema Community 7</div>
                  </li>
                  <li>
                    <div>phone:</div>
                    <div>0576652815</div>
                  </li>
                  <li>
                    <div>email:</div>
                    <div>Luex@gmail.com</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
  
          <!-- Contact Form -->
          <div class="col-lg-6">
            <div class="contact_form_container">
              <form action="#" id="contact_form" class="contact_form">
                <div style="margin-bottom: 18px"><input type="text" class="contact_input contact_input_name inpt" placeholder="Your Name" required="required"><div class="input_border"></div></div>
                <div class="row">
                  <div class="col-lg-6" style="margin-bottom: 18px">
                    <div><input type="text" class="contact_input contact_input_email inpt" placeholder="Your E-mail" required="required"><div class="input_border"></div></div>
                  </div>
                  <div class="col-lg-6" style="margin-bottom: 18px">
                    <div><input type="text" class="contact_input contact_input_subject inpt" placeholder="Subject" required="required"><div class="input_border"></div></div>
                  </div>
                </div>
                <div><textarea class="contact_textarea contact_input inpt" placeholder="Message" required="required"></textarea><div class="input_border" style="bottom:3px"></div></div>
                <button class="contact_button">send</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  
          
        
      
   

  </section>

 
</section>

<section class="About-section4">
    <!-- Customer Review section -->
</section>
  <!-- All html are written here -->

  {% endblock %}
</body>
