{% extends "index.html" %}
<!-- page head -->
{% load static %}
<!-- dhfgsn -->
{% block title%} Cart {%endblock%}
<!-- cart -->
{%block content%}

<section class="cart">
  <div class="cart-container">
    <div class="cart-card">
      <div class="col-lg-7">
        <h5 class="mb-3">
          <a href="{%url 'Products'%}" class="cart-text-body">
            <i class="bi bi-arrow-left"></i> Continue shopping
          </a>
        </h5>
        <hr />

        <div class="d-flex justify-content-between align-items-center mb-4">
          <div>
            <p class="mb-1">Shopping cart</p>
          </div>
          <hr />

          <div>
            <!-- Sorting comes here -->
          </div>
        </div>

        <!-- Repeat this block for each item in the cart -->
        <div class="cart-form-container">
          {% comment %}
          <div class="cart-card mb-3">
            <div class="cart-card-body">
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                  <div>
                    <img
                      src="{{cart_item.product.image.url}}"
                      class="cart-img-fluid rounded-3"
                      alt="Shopping item"
                      width="65px"
                    />
                  </div>
                  <div class="ms-3">
                    <h5>Categoy</h5>
                    <p class="small mb-0">{{cart_item.product.name}}</p>
                    <h6>Size:</h6>
                  </div>
                </div>
                <div class="d-flex flex-row align-items-center">
                  <div class="item-quantity">
                    <!-- <h5 class="cart-fw-normal mb-0">2</h5> -->

                    <div class="def-number-input">
                      <button
                        data-mdb-button-init
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        class="minus"
                      ></button>
                      <input
                        class="quantity fw-bold bg-body-tertiary text-body"
                        min="0"
                        name="quantity"
                        value="{{cart_item.quatity}}"
                        type="number"
                      />
                      <button
                        data-mdb-button-init
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        class="plus"
                      ></button>
                    </div>
                  </div>
                  <div class="cart-item-price">
                    <h5 class="mb-0">Gh₵ {{cart_item.product.price}}</h5>
                  </div>
                  <a href="#!" class="cart-trash-icon">
                    <i class="bi bi-trash"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <hr />
          {% endcomment %} {%if not cart_items %}
          <h2 class="text-center">Your cart is empty</h2>
          {%endif%} {% for cart_item in cart_items %}
          <div class="cart-card mb-3">
            <div class="cart-card-body">
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                  <div>
                    <img
                      src="{{cart_item.product.image.url}}"
                      class="cart-img-fluid rounded-3"
                      alt="Shopping item"
                      width="65px"
                    />
                  </div>
                  <div class="ms-3">
                    <h5>{{cart_item.product.category}}</h5>
                    <p class="small mb-0">{{cart_item.product.name}}</p>
                    <h6>Size: {{cart_item.product.size}}</h6>
                  </div>
                </div>
                <div class="d-flex flex-row align-items-center">
                  <div class="item-quantity">
                    <!-- <h5 class="cart-fw-normal mb-0">2</h5> -->

                    <div class="def-number-input">
                      <a
                        data-mdb-button-init
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        class="minus"
                        href='{%url "remove_from_cart" cart_item.product.pk%}'
                      ></a>
                      <input
                        class="quantity fw-bold bg-body-tertiary text-body"
                        min="0"
                        name="quantity"
                        value="{{cart_item.quantity}}"
                        type="number"
                        readonly="true"
                      />
                      <a
                        data-mdb-button-init
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        class="plus"
                        href="{%url 'add_to_cart' cart_item.product.pk%}"
                      ></a>
                    </div>
                  </div>
                  <div class="cart-item-price">
                    <h5 class="mb-0">
                      Gh₵ {{cart_item.product.price}} <br />
                      for each
                    </h5>
                    <br />
                    <h5 class="mb-0">
                      Total
                      <br />Gh₵ {{cart_item.subtotal}}
                    </h5>
                  </div>
                  <a
                    href="{% url 'Delete_from_cart' cart_item.product.pk %}"
                    class="cart-trash-icon"
                  >
                    <i class="bi bi-trash"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <hr />
          {%endfor%} {% comment %}
          <div class="cart-card mb-3">
            <div class="cart-card-body">
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                  <div>
                    <img
                      src="{%static 'images/image8.png'%}"
                      class="cart-img-fluid rounded-3"
                      alt="Shopping item"
                      width="65px"
                    />
                  </div>
                  <div class="ms-3">
                    <h5>Categoy</h5>
                    <p class="small mb-0">Name Of Product</p>
                    <h6>Size:</h6>
                  </div>
                </div>
                <div class="d-flex flex-row align-items-center">
                  <div class="item-quantity">
                    <!-- <h5 class="cart-fw-normal mb-0">2</h5> -->

                    <div class="def-number-input">
                      <button
                        data-mdb-button-init
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        class="minus"
                      ></button>
                      <input
                        class="quantity fw-bold bg-body-tertiary text-body"
                        min="0"
                        name="quantity"
                        value="1"
                        type="number"
                      />
                      <button
                        data-mdb-button-init
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        class="plus"
                      ></button>
                    </div>
                  </div>
                  <div class="cart-item-price">
                    <h5 class="mb-0">Gh₵ 900</h5>
                  </div>
                  <a href="#!" class="cart-trash-icon">
                    <i class="bi bi-trash"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <hr />
          {% endcomment %} {% comment %}
          <div class="cart-card mb-3">
            <div class="cart-card-body">
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                  <div>
                    <img
                      src="{%static 'images/image8.png'%}"
                      class="cart-img-fluid rounded-3"
                      alt="Shopping item"
                      width="65px"
                    />
                  </div>
                  <div class="ms-3">
                    <h5>Categoy</h5>
                    <p class="small mb-0">Name Of Product</p>
                    <h6>Size:</h6>
                  </div>
                </div>
                <div class="d-flex flex-row align-items-center">
                  <div class="item-quantity">
                    <!-- <h5 class="cart-fw-normal mb-0">2</h5> -->

                    <div class="def-number-input">
                      <button
                        data-mdb-button-init
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        class="minus"
                      ></button>
                      <input
                        class="quantity fw-bold bg-body-tertiary text-body"
                        min="0"
                        name="quantity"
                        value="1"
                        type="number"
                      />
                      <button
                        data-mdb-button-init
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        class="plus"
                      ></button>
                    </div>
                  </div>
                  <div class="cart-item-price">
                    <h5 class="mb-0">Gh₵ 900</h5>
                  </div>
                  <a href="#!" class="cart-trash-icon">
                    <i class="bi bi-trash"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <hr />
          {% endcomment %}

          <!-- Repeat block ends -->
        </div>
      </div>

      <!-- PAYMENT INFO FORM -->
      <div class="card_form">
        <div class="cart-form-body">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h5 class="mb-0">Payment details</h5>
          </div>
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Select Payment Method
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">MTN MOMO</a>
              <a class="dropdown-item" href="#">Airtel Tigo Cash</a>
              <a class="dropdown-item" href="#">Telecel Cash</a>
            </div>
          </div>

          <form class="mt-4">
            <div class="form-outline form-white mb-4">
              <input
                type="text"
                id="typeText"
                class="form-control form-control-lg"
                placeholder="XXX-XXX-XXXX"
                minlength="10"
                maxlength="10"
              />
              <label class="form-label" for="typeText"
                >Enter Payment Number</label
              >
            </div>

            <div class="row mb-4">
              <div class="cart_form_row">
                <div class="col-md-6">
                  <div class="form-outline_2 form-white">
                    <input
                      type="text"
                      id="typeExp"
                      class="cart-form-control form-control-lg"
                      placeholder="Enter Delivery Location"
                    />
                    <label class="form-label" for="typeExp">location</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-outline_2 form-white">
                    <input
                      type="text"
                      id="typeCvv"
                      class="cart-form-control form-control-lg"
                      placeholder="Enter your Digital Address"
                    />
                    <label class="form-label">Digital Address </label>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <hr class="my-4" />

          <div class="d-flex justify-content-between mb-4">
            <p class="mb-2">Total</p>
            <p class="mb-2">Gh₵ {{total}}</p>
          </div>
          <div class="cart-btn-block">
            <button type="button" class="btn btn-info btn-block btn-lg">
              <div class="d-flex justify-content-between">
                <span>Gh₵ {{total}}</span>
                <span
                  >Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i
                ></span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock%}
