{% extends "index.html" %}
{% load static %}
{% block title %} Home page {% endblock %}

{% block content %}
<div>
    <h2 class="categories"><a href="{% url 'ProductDetails' %}">Explore our categories</a></h2>
</div>
<div class="bigContainerWrapper">
    <div class="bigContainer">
        <div class="control">
            <a href="{% url 'ProductDetails' %}"><img class="clothes" src="{% static 'images/Shirts.jpg' %}" alt="Shirts" /></a>
            <b class="clotheText"><a href="{% url 'ProductDetails' %}">Shirts and Tops</a></b>
        </div>
        <div class="control">
            <a href="{% url 'ProductDetails' %}"><img class="clothes" src="{% static 'images/jeans.jpg' %}" alt="Jeans" /></a>
            <b class="clotheText"><a href="{% url 'ProductDetails' %}">Shoes</a></b>
        </div>
        <div class="control">
            <a href="{% url 'ProductDetails' %}"><img class="clothes" src="{% static 'images/dress.jpg' %}" alt="Jeans" /></a>
            <b class="clotheText"><a href="{% url 'ProductDetails' %}">Skirts and Dresses</a></b>
        </div>
        <div class="control">
            <a href="{% url 'ProductDetails' %}"><img class="clothes" src="{% static 'images/babies.jpg' %}" alt="Jeans" /></a>
            <b class="clotheText"><a href="{% url 'ProductDetails' %}">Suits</a></b>
        </div>
        <div class="control">
            <a href="{% url 'ProductDetails' %}"><img class="clothes" src="{% static 'images/babies.jpg' %}" alt="Jeans" /></a>
            <b class="clotheText"><a href="{% url 'ProductDetails' %}">Perfumes</a></b>
        </div>
        <div class="control">
            <a href="{% url 'ProductDetails' %}"><img class="clothes" src="{% static 'images/babies.jpg' %}" alt="Jeans" /></a>
            <b class="clotheText"><a href="{% url 'ProductDetails' %}">Babies and Toddlers</a></b>
        </div>
        
    </div>
    <div class="arrow">
        <button onclick="left()" class="left"> < </button>
        <button onclick="right()" class="right"> > </button>
    </div>
</div>

<div class="slideshow"> <a href="{% url 'ProductDetails' %}"> 
    <img id="image1" src="{% static 'images/boy.jpg' %}" alt="image1">
    <img id="image2" src="{% static 'images/clothes.jpg' %}" alt="image2">
    <img id="image3" src="{% static 'images/jeans.jpg' %}" alt="image3">
    <img id="image4" src="{% static 'images/dress.jpg' %}" alt="image4">
    <img id="image5" src="{% static 'images/closet.jpg' %}" alt="image5">
    </a>
    <div class="text">
        <p>Checkout the outfits of the month and get up to 25% discount off purchases. </p>
    </div>
</div>
</div> 

<div> <h3>New Arrivals</h3></div>
<div class="new-arrivals-container">
    <img  id="image1" src="{% static 'images/boy.jpg' %}" alt="image1">
     <div class="description"> GIORGIO ARMANI </div>
     &#11088&#11088&#11088&#11088&#11088
    <div class="specifics">Black Long sleeve Shirt</div>
    <div class="specifics">Size: M</div>
    <div class="specifics">Color: Black</div>
    <div class="specifics">Price: $70</div>
   <div class="button-controller"> <button>Add to cart</button> </div>
</div>

<div class="new-arrivals-container">
    <img  id="image1" src="{% static 'images/boy.jpg' %}" alt="image1">
     <div class="description"> GIORGIO ARMANI </div>
     &#11088&#11088&#11088&#11088&#11088
    <div class="specifics">Black Long sleeve Shirt</div>
    <div class="specifics">Size: M</div>
    <div class="specifics">Color: Black</div>
    <div class="specifics">Price: $70</div>
   <div class="button-controller"> <button>Add to cart</button> </div>
</div>

<div class="new-arrivals-container">
    <img  id="image1" src="{% static 'images/boy.jpg' %}" alt="image1">
     <div class="description"> GIORGIO ARMANI </div>
     &#11088&#11088&#11088&#11088&#11088
    <div class="specifics">Black Long sleeve Shirt</div>
    <div class="specifics">Size: M</div>
    <div class="specifics">Color: Black</div>
    <div class="specifics">Price: $70</div>
   <div class="button-controller"> <button>Add to cart</button> </div>
</div>

<div class="new-arrivals-container">
    <img  id="image1" src="{% static 'images/boy.jpg' %}" alt="image1">
     <div class="description"> GIORGIO ARMANI </div>
     &#11088&#11088&#11088&#11088&#11088
    <div class="specifics">Black Long sleeve Shirt</div>
    <div class="specifics">Size: M</div>
    <div class="specifics">Color: Black</div>
    <div class="specifics">Price: $70</div>
   <div class="button-controller"> <button>Add to cart</button> </div>
</div>

<div class="new-arrivals-container">
    <img  id="image1" src="{% static 'images/boy.jpg' %}" alt="image1">
     <div class="description"> GIORGIO ARMANI </div>
     &#11088&#11088&#11088&#11088&#11088
    <div class="specifics">Black Long sleeve Shirt</div>
    <div class="specifics">Size: M</div>
    <div class="specifics">Color: Black</div>
    <div class="specifics">Price: $70</div>
   <div class="button-controller"> <button>Add to cart</button> </div>
</div>

<div class="new-arrivals-container">
    <img  id="image1" src="{% static 'images/boy.jpg' %}" alt="image1">
     <div class="description"> GIORGIO ARMANI </div>
     &#11088&#11088&#11088&#11088&#11088
    <div class="specifics">Black Long sleeve Shirt</div>
    <div class="specifics">Size: M</div>
    <div class="specifics">Color: Black</div>
    <div class="specifics">Price: $70</div>
   <div class="button-controller"> <button>Add to cart</button> </div>
</div>

<div class="new-arrivals-container">
    <img  id="image1" src="{% static 'images/boy.jpg' %}" alt="image1">
     <div class="description"> GIORGIO ARMANI </div>
     &#11088&#11088&#11088&#11088&#11088
    <div class="specifics">Black Long sleeve Shirt</div>
    <div class="specifics">Size: M</div>
    <div class="specifics">Color: Black</div>
    <div class="specifics">Price: $70</div>
   <div class="button-controller"> <button>Add to cart</button> </div>
</div>

<div class="new-arrivals-container">
    <img  id="image1" src="{% static 'images/boy.jpg' %}" alt="image1">
     <div class="description"> GIORGIO ARMANI </div>
     &#11088&#11088&#11088&#11088&#11088
    <div class="specifics">Black Long sleeve Shirt</div>
    <div class="specifics">Size: M</div>
    <div class="specifics">Color: Black</div>
    <div class="specifics">Price: $70</div>
   <div class="button-controller"> <button>Add to cart</button> </div>
</div>

{% endblock %}
