{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %} Main Page {% endblock %}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Travello template project" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/bootstrap4/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/bootstrap4/swiper-bundle.min.css' %}"
    />
    <link
      href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css '%}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css '%}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'plugins/OwlCarousel2-2.2.1/owl.theme.default.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'plugins/OwlCarousel2-2.2.1/animate.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/bootstrap4/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/bootstrap4/swiper-bundle.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/index.css' %}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/productdetails.css' %}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/Home.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/Seacrhpage.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/About.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/product.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/cart.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/index_responsive.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}" />
  </head>
  <body>
    <div class="super_container">
      <!-- Header -->

      <header class="header">
        <div class="container">
          <div class="row">
            <div class="col">
              <div
                class="header_content d-flex flex-row align-items-center justify-content-start"
              >
                <div
                  class="header_content_inner d-flex flex-row align-items-end justify-content-start"
                >
                  <div class="logo"><a href="{%url 'Home'%}">Luex</a></div>
                  <nav class="main_nav">
                    <ul
                      class="d-flex flex-row align-items-start justify-content-start"
                    >
                      <li><a href="{%url 'Home'%}">Home</a></li>

                      <li><a href="{%url 'Products'%}">Products</a></li>

                      <li>
                        <a href="">Category </a>
                        <div class="Category-submenu">
                          <ul>
                            {% for Category in CategoryItems %}
                            <li>
                              <a href="{%url 'Categorylisting' Category.CID %}"
                                >{{Category.Name}}</a
                              >
                            </li>
                            {% endfor %}
                          </ul>
                        </div>
                      </li>

                      <li>
                        <a href="{%url 'cart'%}">Cart </a
                        ><span>{{cart_count}}</span>
                      </li>
                      <li><a href="{%url 'about'%}">About us</a></li>
                    </ul>
                  </nav>
                  <div class="header_phone ml-auto">Call us: 0576652815</div>
                  {% if user.is_authenticated %}
                  <div class="header_phone ml-auto">
                    <a href="{%url 'Logout'%}">Logout</a>
                  </div>
                  {% else %}
                  <div class="header_phone ml-auto">
                    <a href="{%url 'Login'%}">Login</a>
                  </div>
                  {% endif %}
                  <div class="Userprofile">
                    <a href="{%url 'profile'%}">
                      {% if user_profile.image == None %}<img
                        src="{%static 'images/Profile.png'%}"
                        width="30px"
                        height="30px"
                        alt=""
                      />
                      {%else%}
                      <img
                        src="{{user_profile.image.url}}"
                        alt="Profile Picture"
                        class="profile-image"
                      />
                      {%endif%}</a
                    >
                  </div>
                  <!-- Hamburger -->
                  <div class="hamburger ml-auto">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- Menu -->

      <div class="menu">
        <div
          class="menu_header d-flex flex-row align-items-center justify-content-start"
        >
          <div class="menu_logo"><a href="{%url 'Home'%}">Luex</a></div>
          <div class="menu_close_container ml-auto">
            <div class="menu_close">
              <div></div>
              <div></div>
            </div>
          </div>
        </div>
        <div class="menu_content">
          <ul>
            <li><a href="{%url 'Home'%}">Home</a></li>
            <li><a href="{%url 'Products'%}">Product </a></li>

            <li>
              <a href="{%url 'cart'%}">Cart</a><span>{{cart_count}}</span>
            </li>
            <li><a href="{%url 'about'%}">About us</a></li>
            <li><a href="{%url 'profile'%}">Profile</a></li>
            {% if user.is_authenticated %}
            <li><a href="{%url 'Logout'%}">Logout</a></li>
            {%else%}
            <li><a href="{%url 'Login'%}">Login</a></li>
            {%endif%}
          </ul>
        </div>
        <div class="menu_social">
          <div class="menu_phone ml-auto">Call us: 0576652815</div>
          <ul class="d-flex flex-row align-items-start justify-content-start">
            <li>
              <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Search-Background -->

      <div class="home">
        <div class="background_image" style="background-color: #152635"></div>
      </div>

      <!-- Search -->

      <div class="home_search">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="home_search_container">
                <div class="home_search_title">Search apparel</div>
                <div class="home_search_content">
                  <form
                    action="{%url 'Search' %}"
                    class="home_search_form"
                    id="home_search_form"
                    method="post"
                  >
                    <div
                      class="d-flex flex-lg-row flex-column align-items-start justify-content-lg-between justify-content-start"
                    >
                      <input
                        type="text"
                        class="search_input search_input_1"
                        placeholder=""
                        required="required"
                        name="Searched"
                      />

                      <button class="home_search_button">search</button>
                    </div>
                    {% csrf_token %}
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- MESSAGES -->
      <div class="Messages" id="Message">
        <div class="alert">
          {%for message in messages%}
          <div class="alert alert-{{message.tags}}" role="alert">
            <strong>{{message}}</strong>
          </div>
          {%endfor%}
          <script>
            // Close the alert automatically after 3 seconds
            setTimeout(() => {
              document.querySelectorAll(".alert").forEach((alert) => {
                alert.classList.remove("show");
                alert.classList.add("fade");
                setTimeout(() => alert.remove(), 150); // Removes the alert from the DOM
              });
            }, 3000);
          </script>
        </div>
      </div>

      {% block content %}

      <h1>Index.html</h1>
      {% endblock %}

      <!-- Footer -->

      <footer class="footer">
        <div class="col">
          <h1>LUEX</h1>
        </div>

        <div class="col">
          <h2>Contact Us:</h2>
          <p><strong>Phone:</strong>0576652815</p>
          <p><strong>Locate Us:</strong> Tema Community 7</p>
          <p><strong>Opening day:</strong> Mon - Fri</p>
          <p><strong>Opening Hours:</strong> 8:30am - 6pm</p>

          <div class="Socials">
            <h4>follow us</h4>
            <div class="Socials-Icons">
              <li>
                <a href="#"
                  ><i
                    class="fa fa-facebook"
                    aria-hidden="true"
                    style="font-size: 2.5em"
                  ></i
                ></a>
              </li>

              <li>
                <a href="#"
                  ><i
                    class="fa fa-instagram"
                    aria-hidden="true"
                    style="font-size: 2.5em"
                  ></i
                ></a>
              </li>

              <li>
                <a href="#"
                  ><i
                    class="fa fa-twitter"
                    aria-hidden="true"
                    style="font-size: 2.5em"
                  ></i
                ></a>
              </li>
            </div>
          </div>
        </div>
        <div class="col">
          <h2>My Account</h2>
          <a href="{%url 'Register'%}">Register</a>
          <a href="{%url 'Login'%}">Login</a>
          <a href="{%url 'cart'%}"> My Cart</a>
        </div>
        <div class="col">
          <h2>Payment</h2>

          <img src="{%static 'images/mtn.png'%}" alt="" />
          <img src="{%static 'images/atm.png'%}" alt="" />
          <img src="{%static 'images/telecel.png'%}" alt="" />
        </div>
      </footer>
    </div>

    <script src="{%static 'js/jquery-3.2.1.min.js'%}"></script>
    <script src="{%static 'styles/bootstrap4/popper.js'%}"></script>
    <script src="{%static 'styles/bootstrap4/bootstrap.min.js'%}"></script>
    <script src="{%static 'plugins/greensock/TweenMax.min.js'%}"></script>
    <script src="{%static 'plugins/greensock/TimelineMax.min.js'%}"></script>
    <script src="{%static 'plugins/scrollmagic/ScrollMagic.min.js'%}"></script>
    <script src="{%static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js'%}"></script>
    <script src="{%static 'plugins/easing/easing.js'%}"></script>
    <script src="{%static 'js/elements.js'%}"></script>
    <script src="{%static 'js/Slideshow.js'%}"></script>
    <script src="{%static 'js/categorySlider.js'%}"></script>
    <script src="{%static 'js/swiper-bundle.min.js'%}"></script>
    <script src="{%static 'js/script.js'%}"></script>
    <script src="{%static 'js/CustomerReview.js'%}"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/cesiumjs/1.78/Build/Cesium/Cesium.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
