{% extends "index.html" %}
<!-- dhfgsn -->
{% load static %}
<!-- dhfgsn -->
{% block title %} Product Details page {% endblock %}
<!-- dhfgsn -->
{% block content %}

<div class="product-container">
  <main class="Pdcontainer">
    <!-- Left Column / Product Image -->
    <div class="left-column">
      <img
        class="Pd-img active"
        src="{% static 'images/louisVuitton.png' %}"
        alt="Louis Vuitton Shirt"
      />
    </div>

    <!-- Right Column -->
    <div class="Pd-right-column">
      <!-- Product Description -->
      <div class="product-description">
        <span>Men's Wear</span>
        <h1>Louis Vuitton</h1>
        <p>Best Shirt brand on the market</p>
      </div>

      <!-- Product Configuration -->
      <div class="product-configuration">
        <!-- Product Description -->
        <div class="Pd-Description">
          <span>Product Description</span>
          <div class="Pd-">
            <p>Product description comes here.</p>
          </div>
        </div>
      </div>

      <!-- Product Pricing -->
      <div class="product-price">
        <span>$148</span>
        <a href="#" class="cart-btn">Add to cart</a>
      </div>
    </div>
  </main>
</div>

<!-- All html are written here -->
{% endblock %}
