{%extends 'index.html' %}
<!-- Abcr -->
{% load static %}
<!-- Abcr -->
{% block title%} Product {% endblock %}
<!-- Abcr -->
{% block content%}
<!-- HTML GOES HERE -->
<body>
  <section id="main">
    <div class="products-container">
      <div class="main-content">
        <!-- Products-section-start -->
        <div class="products">
          {%for Apparel in Apparels%}
          <div class="product">
            
            <div class="product-image">
              <img
                src="{{Apparel.image.url}}"
                alt="Nike React Miler"
                width="100%"
              />
            </div>
            <div class="product-content">
              <h2 class="product-title">{{Apparel.name}}</h2>
              <p class="product-description">
                {{Apparel.description}}
              </p>
              <!-- <p class="Unavailable" >Out of stock</p> -->

              <div class="instock_offer">
                <div class="offer">Size: {{Apparel.size}}</div>
                <div class="offer">
                  <a href="{%url 'ProductDetails' Apparel.pk %}">view detatil</a>
                </div>
              </div>
              <div class="price_wrapper">
                <div class="price">Gh₵ {{Apparel.price}}</div>
                <div class="icons">
                  <div><ion-icon name="cart-outline"></ion-icon></div>
                </div>
              </div>
            </div>
           
          </div>
          {% endfor %}

         

          

          
          </div>
        </div>
        <!-- Products-section-end -->
      </div>
    </div>
  </section>
  <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons.js"></script>
</body>
{% endblock %}
