{% extends "index.html" %}
<!-- dhfgsn -->
{% load static %}
<!-- dhfgsn -->
{% block title %} Product Details page {% endblock %}
<!-- dhfgsn -->
{% block content %}

<section id="Product-detail" class="Product-detail-container">
  <div class="Product-detail-Image">
    <img src="{{Apparel.image.url}}" width="100%" alt="" />
  </div>
  <div class="Product-detail-Description">
    <!-- Product Description -->

    <h2>{{Apparel.category}}</h2>

    <h3 id="Product-Name">{{Apparel.name}}</h3>
    <h4 id="Product-Size">Size: {{Apparel.size}}</h4>

    <h4>Description</h4>
    <span id="Description">{{Apparel.Description}}</span>

    <div class="Product-detail-Button">
      <span id="Product-Price">Gh₵ {{Apparel.price}}</span>
      <button class="cart-btn">Add to cart</button>
    </div>
  </div>
</section>
<!-- Adding to cart -->
<!-- <script>
  $(".cart-btn").on("click", function () {
    let Product_Name = $("#Product-Name");
    let Product_Size = $("#Product-Size");
    let Product_Price = $("#Product-Price");
    let this_val = $(this);

    console.log("Name: ", Product_Name).text();
    console.log("Price: ", Product_Price).text();
    console.log("Size: ", Product_Size).text();
    console.log("Current Item: ", this_val);
  });
</script> -->

<!-- All html are written here -->
{% endblock %}
