{%extends 'index.html' %}
<!-- Abcr -->
{% load static %}
<!-- Abcr -->
{% block title%} Product {% endblock %}
<!-- Abcr -->
{% block content%}
<!-- HTML GOES HERE -->
<body>
  <section id="main">
    <div class="products-container">
      <div class="main-content">
        <!-- Products-section-start -->
        <div class="products">
          <div class="product">
            <div class="product-image">
              <img
                src="{%static 'images/Test10.png'%}"
                alt="Nike React Miler"
              />
            </div>
            <div class="product-content">
              <h2 class="product-title">Nike React Miler</h2>
              <p class="product-description">Men’s Road Running shoes</p>
              <div class="instock_offer">
                <div class="offer">25% off</div>
              </div>
              <p>Sizes:XL</p>
              <div class="price_wrapper">
                <div class="price">$500</div>
                <div class="icons">
                  <div><ion-icon name="cart-outline"></ion-icon></div>
                </div>
              </div>
            </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="{%static 'images/Test8.png'%}"
                alt="Apple Macbook Air"
              />
            </div>

            <div class="product-content">
              <h2 class="product-title">Apple Macbook Air</h2>
              <p class="product-description">
                Apple M1 Chip with 8‑Core CPU and 8‑Core GPU 512GB Storage
              </p>
              <p>Sizes:XL</p>
              <div class="instock_offer">
                <div class="offer">25% off</div>
                <div class="">
                  <a href="{%url 'ProductDetails'%}">view detatil</a>
                </div>
              </div>
              <div class="price_wrapper">
                <div class="price">$10600</div>
                <div class="icons">
                  <div><ion-icon name="cart-outline"></ion-icon></div>
                </div>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="product-image">
              <img
                src="{%static 'images/Test9.png'%}"
                alt="Apple Macbook Air"
              />
            </div>
            <div class="product-content">
              <h2 class="product-title">Apple Macbook Air</h2>
              <p class="product-description">
                Apple M1 Chip with 8‑Core CPU and 8‑Core GPU 512GB Storage
              </p>
              <p>Sizes:XL</p>
              <div class="instock_offer">
                <!-- <div class="offer">25% off</div> -->
                <div class="price">$10600</div>
                <a href="{%url 'ProductDetails'%}">view detatil</a>
              </div>
              <div class="price_wrapper">
                <div class="icons">
                  <div><ion-icon name="cart-outline"></ion-icon></div>
                </div>
              </div>
            </div>
          </div>
          <div class="product">
            <div class="product-image">
              <img
                src="{%static 'images/Test9.png'%}"
                alt="Apple Macbook Air"
              />
            </div>
            <div class="product-content">
              <h2 class="product-title">Apple Macbook Air</h2>
              <p class="product-description">
                Apple M1 Chip with 8‑Core CPU and 8‑Core GPU 512GB Storage
              </p>
              <div class="instock_offer">
                <div class="offer">25% off</div>
                <div class="offer">Sizes:XL</div>
              </div>
              <div class="price_wrapper">
                <div class="price">$10600</div>
                <div class="icons">
                  <div><ion-icon name="cart-outline"></ion-icon></div>
                </div>
              </div>
            </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="{%static 'images/Test9.png'%}"
                alt="Apple Macbook Air"
              />
            </div>
            <div class="product-content">
              <h2 class="product-title">Apple Macbook Air</h2>
              <p class="product-description">
                Apple M1 Chip with 8‑Core CPU and 8‑Core GPU 512GB Storage
              </p>
              <div class="instock_offer">
                <div class="offer">25% off</div>
              </div>
              <div class="price_wrapper">
                <div class="price">$10600</div>
                <div class="icons">
                  <div><ion-icon name="cart-outline"></ion-icon></div>
                </div>
              </div>
            </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="{%static 'images/Test9.png'%}"
                alt="Apple Macbook Air"
              />
            </div>
            <div class="product-content">
              <h2 class="product-title">Apple Macbook Air</h2>
              <p class="product-description">
                Apple M1 Chip with 8‑Core CPU and 8‑Core GPU 512GB Storage
              </p>
              <div class="instock_offer">
                <div class="offer">25% off</div>
              </div>
              <div class="price_wrapper">
                <div class="price">$10600</div>
                <div class="icons">
                  <div><ion-icon name="cart-outline"></ion-icon></div>
                </div>
              </div>
            </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="{%static 'images/Test9.png'%}"
                alt="Apple Macbook Air"
              />
            </div>
            <div class="product-content">
              <h2 class="product-title">Apple Macbook Air</h2>
              <p class="product-description">
                Apple M1 Chip with 8‑Core CPU and 8‑Core GPU 512GB Storage
              </p>
              <div class="instock_offer">
                <div class="offer">25% off</div>
              </div>
              <div class="price_wrapper">
                <div class="price">$10600</div>
                <div class="icons">
                  <div><ion-icon name="cart-outline"></ion-icon></div>
                </div>
              </div>
            </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="{%static 'images/Test9.png'%}"
                alt="Apple Macbook Air"
              />
            </div>
            <div class="product-content">
              <h2 class="product-title">Apple Macbook Air</h2>
              <p class="product-description">
                Apple M1 Chip with 8‑Core CPU and 8‑Core GPU 512GB Storage
              </p>
              <div class="instock_offer">
                <div class="offer">25% off</div>
              </div>
              <div class="price_wrapper">
                <div class="price">$10600</div>
                <div class="icons">
                  <div><ion-icon name="cart-outline"></ion-icon></div>
                </div>
              </div>
            </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="{%static 'images/Test9.png'%}"
                alt="Apple Macbook Air"
              />
            </div>
            <div class="product-content">
              <h2 class="product-title">Apple Macbook Air</h2>
              <p class="product-description">
                Apple M1 Chip with 8‑Core CPU and 8‑Core GPU 512GB Storage
              </p>
              <div class="instock_offer">
                <div class="offer">25% off</div>
              </div>
              <div class="price_wrapper">
                <div class="price">$10600</div>
                <div class="icons">
                  <div><ion-icon name="cart-outline"></ion-icon></div>
                </div>
              </div>
            </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="{%static 'images/Test9.png'%}"
                alt="Apple Macbook Air"
              />
            </div>
            <div class="product-content">
              <h2 class="product-title">Apple Macbook Air</h2>
              <p class="product-description">
                Apple M1 Chip with 8‑Core CPU and 8‑Core GPU 512GB Storage
              </p>
              <div class="instock_offer">
                <div class="offer">25% off</div>
              </div>
              <div class="price_wrapper">
                <div class="price">$10600</div>
                <div class="icons">
                  <div><ion-icon name="cart-outline"></ion-icon></div>
                </div>
              </div>
            </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="{%static 'images/Test9.png'%}"
                alt="Apple Macbook Air"
              />
            </div>
            <div class="product-content">
              <h2 class="product-title">Apple Macbook Air</h2>
              <p class="product-description">
                Apple M1 Chip with 8‑Core CPU and 8‑Core GPU 512GB Storage
              </p>
              <div class="instock_offer">
                <div class="offer">25% off</div>
              </div>
              <div class="price_wrapper">
                <div class="price">$10600</div>
                <div class="icons">
                  <div><ion-icon name="cart-outline"></ion-icon></div>
                </div>
              </div>
            </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="{%static 'images/Test9.png'%}"
                alt="Apple Macbook Air"
              />
            </div>
            <div class="product-content">
              <h2 class="product-title">Apple Macbook Air</h2>
              <p class="product-description">
                Apple M1 Chip with 8‑Core CPU and 8‑Core GPU 512GB Storage
              </p>
              <div class="instock_offer">
                <div class="offer">25% off</div>
              </div>
              <div class="price_wrapper">
                <div class="price">$10600</div>
                <div class="icons">
                  <div><ion-icon name="cart-outline"></ion-icon></div>
                </div>
              </div>
            </div>
          </div>

          <div class="product">
            <div class="product-image">
              <img
                src="{%static 'images/Test9.png'%}"
                alt="Apple Macbook Air"
              />
            </div>
            <div class="product-content">
              <h2 class="product-title">Apple Macbook Air</h2>
              <p class="product-description">
                Apple M1 Chip with 8‑Core CPU and 8‑Core GPU 512GB Storage
              </p>
              <div class="instock_offer">
                <div class="offer">25% off</div>
              </div>
              <div class="price_wrapper">
                <div class="price">$10600</div>
                <div class="icons">
                  <div><ion-icon name="cart-outline"></ion-icon></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Products-section-end -->
      </div>
    </div>
  </section>
  <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons.js"></script>
</body>
{% endblock %}
