{% extends "index.html" %}
<!-- arestdfgh -->
{% load static %}

<!-- asdafghj -->
{% block title %} Search page {%endblock %}
<!-- asdfghjk -->
{% block content %}
<main class="Search">
  <h1>Search Results for {{Searched}}</h1>

  <!-- dfg -->
  <div class="row search_row">
    <div class="col">
      <div class="grid-item">
        <!-- dfgh -->
        {%for Item in Item%}
        <!-- START of product card -->
        <div class="search_item">
          <!-- image -->
          <div class="search_image">
            <img src=" {{Item.image.url}}" width="80%" alt="" />
          </div>
          <!-- image -->

          <!--card body -->
          <div class="search_content">
            <div class="Search_title">
              <h2 class="product-title">{{Item.name}}</h2>
            </div>

            <div class="instock_offer">
              <div class="offer">Size: {{Item.size}}</div>
              <div class="offer">
                <a href="{%url 'ProductDetails' Item.pk%}">view detatil</a>
              </div>
            </div>
            <!-- dfgh -->
            <div class="price_wrapper">
              <div class="price">Gh₵ {{Item.price}}</div>
            </div>
            <!-- dfgh -->
          </div>
          <!-- Card body -->
        </div>
        <!-- End of product card -->
        {% endfor%}
      </div>
    </div>
  </div>
</main>

{% endblock %}
