.profile {
  display: flex;
  flex-direction: column;
  padding: 0 15rem;
}
.profile-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.sidebar {
  width: 250px;
  background-color: #152635;
  padding: 20px;
}

.main {
  flex: 1;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.section {
  margin-bottom: 20px;
}

.section-title {
  font-weight: bold;
  margin-bottom: 10px;
}

input,
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  outline: none;
}

.Profile-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Profile-button a {
  text-decoration: none;
  color: white;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border-color: black;
  border: black;
}

.profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-name {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 0;
}

.sidebar li a {
  text-decoration: none;
  color: antiquewhite;
  font-size: 17px;
}

.sidebar li a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
